* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    /* background: #f5f5f5; */
}

body {
    padding: 5.5rem 3rem 8rem;
    min-height: 100vh;
    background: radial-gradient(85.76% 85.76% at 67.27% 26.44%, rgba(26, 129, 255, 0.2) 12.5%, rgba(26, 129, 255, 0) 57.34%), #F5F5F5;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px !important;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section,
header,
footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    margin-bottom: 3rem;
}

h1,
.typed-cursor {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-variant: all-small-caps;
    color: #1C2120;
}

h2,
h3 {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 160%;
    text-transform: capitalize;
    color: #1C2120;
}

h3 {
    font-size: 1.3rem;
}

p,
.intro-text {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 170%;
    background: radial-gradient(65% 187.33% at 69.43% 4.49%, rgba(26, 129, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #1C2120;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p {
    font-size: 1.2rem;
    color: #1c2120c2;
}

ul {
    list-style: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li,
li b {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    color: #1c2120c2;
}

li b {
    font-weight: 700;
}

button {
    outline: none;
    border: none;
    padding: 10px 40px;
    margin-top: 1rem;
    gap: 10px;
    background: linear-gradient(270.78deg, #22A2FF 0%, #1A81FF 100%);
    box-shadow: 0px 1px 51px rgba(26, 129, 255, 0.38);
    border-radius: 8px;
    cursor: pointer;

    /* Typography */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 150%;
    font-variant: all-small-caps;
    color: #F5F5F5;
}

.pfp img {
    width: 10rem;
    padding: 0.5rem;
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.tool-list {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    margin: 1rem 0 0 1rem;
}

.tool-list img {
    width: 3rem;
}

footer {
    margin-top: 3rem;
}

#contact li a {
    text-decoration: none;
    color: #1C2120;
    padding-bottom: 3px;
    border-bottom: #1A81FF 1px solid;
    border-image: linear-gradient(280.78deg, #03CCFF 0%, #1E64FF 100%);
    border-image-slice: 1;
}

#typing-animation {
    display: flex;
    flex-direction: row;
}

.typed-cursor {
    color: #1a81ff54;
    text-shadow: 2px 2px 8px #1a81ff62;
}